{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">{% trans 'About' %}</h6>
									<h2 class="title-01__title">{% trans 'MyStory' %}</h2>
									<div>{{settings.about}}
										</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				
				
								<!-- Latest Blogs -->
				<!-- Section -->
				<section class="md-section" style="padding-bottom:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">{% trans 'Meestrecenteblogs' %}</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
					<div class="consult-project">
						<div class="row">
							{% for blog in blogs|slice:":4" %}
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><a href="{% url 'blog_detail' blog.id %}"><img src="{{blog.image.url}}" alt=""/></a></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a href="#">{{blog.title}}</a></h2>
										<div class="post-02__department">{{blog.tag}}</div>
										<div class="post-02__content">
											<div class="post-02__description">{{blog.content|truncatewords:15}}</div><a class="post-02__link" href="{% url 'blog_detail' blog.id %}">{% trans 'Readmore' %}</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
							</div>
							{% endfor %}


						</div>
					</div>
				</section>
				<!-- End / Section -->		

				
			</div>
			<!-- End / Content-->
{% endblock %} 