{% extends "base.html" %}

{% load static %}

{% block content %}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">about</h6>
									<h2 class="title-01__title">My Story</h2>
									<div>Curabitur Karina Scharffelementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus iaculis nulla, in dignissim risus turpis id justo. Sed eleifend ante et ligula eleifend ultricies. Fusce porta feugiat nisl, eget faucibus augue ultrices et. Nullam id leo fringilla, viverra est ut, faucibus lectus. Integer vel finibus ex, et convallis enim. Curabitur tristique convallis neque a eleifend. Donec mattis leo in velit scelerisque, sit amet ultricies erat mollis. Suspendisse potenti. Etiam commodo ipsum placerat, ornare libero a, consequat justo.</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				
				
				<!-- Latest Projects-->
				
				<!-- Section -->
				<section class="md-section" style="padding-bottom:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">Latest Projects</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
					<div class="consult-project">
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-1.jpg' %}" alt=""/></a></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a href="#">How to Create and Manage SVG Sprites</a></h2>
										<div class="post-02__department">Business Consulting</div>
										<div class="post-02__content">
											<div class="post-02__description">Etiam non varius justo, vel tempor mi. Nulla facilisi. Fusce at tortor arcu. Suspendisse maximus ac nisl eu porta. Praesent eget consequat nisi, at mollis turpis. Quisque sed venenatis neque, at molli</div><a class="post-02__link" href="#">View detail</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-2.jpg' %}" alt=""/></a></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a href="#">Is UX Really That Important?</a></h2>
										<div class="post-02__department">Business Consulting</div>
										<div class="post-02__content">
											<div class="post-02__description">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. Aliquam erat volutpat. In fringilla erat at eros pharetra faucibus. Nunc a magna eu lectus fringilla</div><a class="post-02__link" href="#">View detail</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-3.jpg' %}" alt=""/></a></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a href="#">How to Create and Manage SVG Sprites</a></h2>
										<div class="post-02__department">Business Consulting</div>
										<div class="post-02__content">
											<div class="post-02__description">Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus aliquam nisi sit amet libero mattis ornare. In varius nunc vel suscipit rhoncus. Nunc hendrerit nisl nec orci eleifend accu</div><a class="post-02__link" href="#">View detail</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-4.jpg' %}" alt=""/></a></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a href="#">5 Ways to Use 404 Pages</a></h2>
										<div class="post-02__department">Business Consulting</div>
										<div class="post-02__content">
											<div class="post-02__description">Sed ante nisl, fermentum et facilisis in, maximus sed ipsum. Cras hendrerit feugiat eros, ut fringilla nunc finibus sed. Quisque vitae dictum augue, vitae pretium sem. Proin tristique lobortis mauris </div><a class="post-02__link" href="#">View detail</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->
{% endblock %} 