{% extends "base.html" %}

{% load static %}

{% block content %}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">about</h6>
									<h2 class="title-01__title">My Story</h2>
									<div>Curabitur Karina Scharffelementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus iaculis nulla, in dignissim risus turpis id justo. Sed eleifend ante et ligula eleifend ultricies. Fusce porta feugiat nisl, eget faucibus augue ultrices et. Nullam id leo fringilla, viverra est ut, faucibus lectus. Integer vel finibus ex, et convallis enim. Curabitur tristique convallis neque a eleifend. Donec mattis leo in velit scelerisque, sit amet ultricies erat mollis. Suspendisse potenti. Etiam commodo ipsum placerat, ornare libero a, consequat justo.</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				
				
				<!-- Latest Blogs-->
				
				<!-- Section -->
				<section class="md-section" style="padding-bottom:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">Meest recente blogs</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
					<div class="consult-project">
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-1.jpg' %}" alt=""/></a></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a href="#">Minimale methode.</a></h2>
										<div class="post-02__department">Leer Methode</div>
										<div class="post-02__content">
											<div class="post-02__description">Als je ooit een taal  hebt geleerd weet je dat je te maken krijgt met woordenlijsten en taalregels die vaak zonder veel context geleerd moeten worden. </div><a class="post-02__link" href="#">Lees verder</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-2.jpg' %}" alt=""/></a></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a href="#">Persoonlijke methode</a></h2>
										<div class="post-02__department">Leer methode</div>
										<div class="post-02__content">
											<div class="post-02__description">Schrijf het gedicht over in je eigen handschrift en herhaal het zo vaak mogelijk gedurende de week.  Als je het gedicht enigszins kent, ga je er je eigen woorden aanvullen in een woordenlijst die je per week maakt.</div><a class="post-02__link" href="#">Lees verder</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-3.jpg' %}" alt=""/></a></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a href="#">Geschiedenis van het Esperanto</a></h2>
										<div class="post-02__department">Internationale Taal</div>
										<div class="post-02__content">
											<div class="post-02__description">Ludovice Zamenhof was nog maar middelbare scholier toen hij de noodzaak inzag van een verbindende taal. Dat was in Byliastok, toen in Rusland gelegen waar hij  zag dat veel problemen in zijn omgeving ontstonden omdat mensen elkaars taal niet spraken. Om hem heen hoorde hij Duits, Russisch, Litouws, Pools en Hebreeuws.</div><a class="post-02__link" href="#">Lees verder</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>

							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
				
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-4.jpg' %}" alt=""/></a></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a href="#">Nieuwe Boek</a></h2>
										<div class="post-02__department">Publicaties</div>
										<div class="post-02__content">
											<div class="post-02__description">In het boek kan je de methode leeren ................ </div><a class="post-02__link" href="#">Lees verder</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
								
							</div>


						</div>
					</div>
				</section>
				<!-- End / Section -->	

				
			</div>
			<!-- End / Content-->
{% endblock %} 