
{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load poem_lines %}

{% block content %}
			
			<!-- Content-->
			<div class="md-content" >
				
				<!-- background picture -->
				<div>

					<div class="bg-image" style="background-image: url({% static 'img/frontpage.png' %}); height: 120vh; width:100%; background-repeat: no-repeat;
					background-size: cover;"> 
						<div class="md-tb">
							<div class="md-tb__cell">
								<div class="slider__content">
									<div class="container text-center">
										<h2>Internationale Taal</h2>
										<p><h2>Esperanto</h2></p>
									</div>
								</div>
							</div>
						</div>
					</div>

					
				</div><!-- End / background picture -->
				
				<!-- Service-->
				
				<!-- Section: Featured Poem -->
				{% with poems|dictsortreversed:"featured"|first as poem %}
				<section class="md-section" style="background-color:#A9DFBF;padding:0;">
					<div class="container">
						<div class="textbox-group">
							<div class="row">
								<div class="col-md-4 col-lg-4 ">
									
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href={% url 'single_poem' poem.id  %}><img src="{{poem.image.url}}" alt=""/></a></div>
										<div class="textbox__body">
											{% with poem.title.all|first as title %}
											<h2 class="textbox__title"><a href={% url 'single_poem' poem.id  %}>{{title.title}}</a></h2>
											{% endwith %}
											{% with poem.stanzas|flatten_stanzas|slice:":3" as lines %}
											<div class="textbox__description">
												{% for line in lines %}
													{{line}}<br>
												{% endfor %}
												<a class=" mt-4" href={% url 'single_poem' poem.id  %}>Lees verder ...</a>
											</div>
											{% endwith %}
										</div>
									</div><!-- End / textbox -->
									
								</div>
								<div class="col-md-4 col-lg-4 ">
									
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href={% url 'single_poem' poem.id  %}><img src="{{poem.image.url}}" alt=""/></a></div>
										<div class="textbox__body">
											{% language "eo" %}
											{% with poem.title.all|first as title %}
											<h2 class="textbox__title"><a href={% url 'single_poem' poem.id  %}>{{title.title}}</a></h2>
											{% endwith %}
											{% with poem.stanzas|flatten_stanzas|slice:":3" as lines %}
											<div class="textbox__description">
												{% for line in lines %}
													{{line}}<br>
												{% endfor %}
												<a class=" mt-4" href={% url 'single_poem' poem.id  %}>Legu pli ...</a>
											</div>
											{% endwith %}
											{% endlanguage %}
										</div>
									</div><!-- End / textbox -->
									
								</div>
								<div class="col-md-4 col-lg-4 ">
									
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="{% url 'single_poem' poem.id  %}#author"><img src="{{poem.author.portrait.url}}" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="{% url 'single_poem' poem.id  %}#author">{{poem.author}}</a></h2>
											<div class="textbox__description">
												{{poem.author.abstract|truncatewords:15}}<br>
												<a class=" mt-4" href="{% url 'single_poem' poem.id  %}#author">Lees verder ...</a>
											</div>
										</div>
									</div><!-- End / textbox -->
									
								</div>
							</div>
						</div>
					</div>
				</section>
				{% endwith %}
				<!-- End / Section: Featured Poem -->

				<!-- Section -->
				<section class="md-section" style="background-color:#f7f7f7;padding-top:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2 ">
								
								<!-- iconbox -->
								<div class="iconbox">
									<div class="iconbox__icon"><i class="ti-headphone-alt"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Leer een nieuwe taal door poëzie</a></h2>
										<div class="iconbox__description">Een nieuwe taal vraagt om een nieuwe methode.  In 2021 verscheen Een  poëtische taalmethode bij Humble Art</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-announcement"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Nieuwe woorden &amp; zinnen</a></h2>
										<div class="iconbox__description">De gedichten bieden een klein verhaaltje waarvan je woorden en zinnen leert die er voor jou toe doen.</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-headphone"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Makkelijk te herhalen</a></h2>
										<div class="iconbox__description">De dichter weet in enkele zinnen een onderwerp neer te zetten dat interessant genoeg is om te blijven herhalen.</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-timer"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Snelle Vooruitgang</a></h2>
										<div class="iconbox__description">Deze methode is er leuk en dat je het je eigen maakt, zul jie het resultaat heel znel merken.</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-briefcase"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Gepersonaliseerd &amp; uniek</a></h2>
										<div class="iconbox__description">Uit onderzoek blijkt dat eigen vondsten sneller en beter in het geheugen worden opgenomen.</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				
				<!-- Latest Blogs -->
								<!-- Section -->
								<section class="md-section" style="padding-bottom:0;">
									<div class="container">
										<div class="row">
											<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
												
												<!-- title-01 -->
												<div class="title-01">
													<h2 class="title-01__title">Meest recente blogs</h2>
												</div><!-- End / title-01 -->
												
											</div>
										</div>
									</div>
									<div class="consult-project">
										<div class="row">
											<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
												
												<!-- post-02 -->
												<div class="post-02 post-02__style-02 js-post-effect">
													<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-1.jpg' %}" alt=""/></a></div>
													<div class="post-02__body">
														<h2 class="post-02__title"><a href="#">Minimale methode.</a></h2>
														<div class="post-02__department">Leer Methode</div>
														<div class="post-02__content">
															<div class="post-02__description">Als je ooit een taal  hebt geleerd weet je dat je te maken krijgt met woordenlijsten en taalregels die vaak zonder veel context geleerd moeten worden. </div><a class="post-02__link" href="#">Lees verder</a>
														</div>
													</div>
												</div><!-- End / post-02 -->
												
											</div>
											<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
												
												<!-- post-02 -->
												<div class="post-02 post-02__style-02 js-post-effect">
													<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-2.jpg' %}" alt=""/></a></div>
													<div class="post-02__body">
														<h2 class="post-02__title"><a href="#">Persoonlijke methode</a></h2>
														<div class="post-02__department">Leer methode</div>
														<div class="post-02__content">
															<div class="post-02__description">Schrijf het gedicht over in je eigen handschrift en herhaal het zo vaak mogelijk gedurende de week.  Als je het gedicht enigszins kent, ga je er je eigen woorden aanvullen in een woordenlijst die je per week maakt.</div><a class="post-02__link" href="#">Lees verder</a>
														</div>
													</div>
												</div><!-- End / post-02 -->
												
											</div>
											<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
												
												<!-- post-02 -->
												<div class="post-02 post-02__style-02 js-post-effect">
													<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-3.jpg' %}" alt=""/></a></div>
													<div class="post-02__body">
														<h2 class="post-02__title"><a href="#">Geschiedenis van het Esperanto</a></h2>
														<div class="post-02__department">Internationale Taal</div>
														<div class="post-02__content">
															<div class="post-02__description">Ludovice Zamenhof was nog maar middelbare scholier toen hij de noodzaak inzag van een verbindende taal. Dat was in Byliastok, toen in Rusland gelegen waar hij  zag dat veel problemen in zijn omgeving ontstonden omdat mensen elkaars taal niet spraken. Om hem heen hoorde hij Duits, Russisch, Litouws, Pools en Hebreeuws.</div><a class="post-02__link" href="#">Lees verder</a>
														</div>
													</div>
												</div><!-- End / post-02 -->
												
											</div>

											<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								
												<!-- post-02 -->
												<div class="post-02 post-02__style-02 js-post-effect">
													<div class="post-02__media"><a href="#"><img src="{% static 'img/projects/v-4.jpg' %}" alt=""/></a></div>
													<div class="post-02__body">
														<h2 class="post-02__title"><a href="#">Nieuwe Boek</a></h2>
														<div class="post-02__department">Publicaties</div>
														<div class="post-02__content">
															<div class="post-02__description">In het boek kan je de methode leeren ................ </div><a class="post-02__link" href="#">Lees verder</a>
														</div>
													</div>
												</div><!-- End / post-02 -->
												
											</div>
				

										</div>
									</div>
								</section>
								<!-- End / Section -->	
				
			</div>
			<!-- End / Content-->
			
{% endblock %} 