
{% extends "base.html" %}

{% load static %}

{% block content %}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- background picture -->
				<div>

					<div class="bg-image" style="background-image: url({% static 'img/frontpage.png' %}); height: 30vh; width:100%; background-repeat: no-repeat;
					background-size: cover;"> 
						<div class="md-tb">
							<div class="md-tb__cell">
								<div class="slider__content">
									<div class="container text-center">
										<h2>We create the trend</h2>
										<p>Curabitur elementum urna augue, eu porta purus gravida in. Cras consectetur, lorem a cursus vestibulum, ligula purus iaculis nulla, in dignissim risus turpis id justo. Sed eleifend ante et ligula elei</p>
									</div>
								</div>
							</div>
						</div>
					</div>

					
				</div><!-- End / background picture -->
				
				<!-- Service-->
				
				<!-- Section -->
				<section class="md-section" style="background-color:#A9DFBF;padding:0;">
					<div class="container">
						<div class="textbox-group">
							<div class="row">
								<div class="col-md-4 col-lg-4 ">
									
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="#"><img src="{% static 'img/services/4.jpg' %}" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="#">International Language</a></h2>
											<div class="textbox__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut laoreet ut lacus a tincidunt. Quisque lu</div>
										</div>
									</div><!-- End / textbox -->
									
								</div>
								<div class="col-md-4 col-lg-4 ">
									
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="#"><img src="{% static 'img/services/5.jpg' %}" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="#">Responsive Layout</a></h2>
											<div class="textbox__description">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. </div>
										</div>
									</div><!-- End / textbox -->
									
								</div>
								<div class="col-md-4 col-lg-4 ">
									
									<!-- textbox -->
									<div class="textbox">
										<div class="textbox__image"><a href="#"><img src="{% static 'img/services/6.jpg' %}" alt=""/></a></div>
										<div class="textbox__body">
											<h2 class="textbox__title"><a href="#">SEO Optimized</a></h2>
											<div class="textbox__description">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu</div>
										</div>
									</div><!-- End / textbox -->
									
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				
				<!-- Section -->
				<section class="md-section" style="background-color:#f7f7f7;padding-top:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-10 col-lg-8 offset-0 offset-sm-0 offset-md-1 offset-lg-2 ">
								
								<!-- iconbox -->
								<div class="iconbox">
									<div class="iconbox__icon"><i class="ti-headphone-alt"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Learn a new Language by poetry</a></h2>
										<div class="iconbox__description">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. Aliquam erat volutpat. In fringilla erat at eros pharetra faucibus. Nunc a magna eu lectus fringilla interdum luctus vitae diam. Morbi ac orci ac dolor pellentesque interdum vel accumsan risus. In ves</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-announcement"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Brand &amp; Identity</a></h2>
										<div class="iconbox__description">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-headphone"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Marketing Planning</a></h2>
										<div class="iconbox__description">Etiam non varius justo, vel tempor mi. Nulla facilisi. Fusce at tortor arcu. Suspendisse maximus ac </div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-timer"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Business Planning</a></h2>
										<div class="iconbox__description">Mauris lacinia venenatis dolor sit amet viverra. Integer malesuada nulla neque. Sed rutrum ligula eu</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-sm-6 col-md-6 col-lg-3 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-02">
									<div class="iconbox__icon"><i class="ti-briefcase"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Email Marketing</a></h2>
										<div class="iconbox__description">Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus aliquam nisi sit amet l</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				
				<!-- Latest Blogs -->
				
				<!-- Section -->
				<section class="md-section consult-background">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">Latest Blogs</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						
						<!-- carousel__element owl-carousel -->
						<div class="carousel__element owl-carousel" data-options='{"loop":false,"dots":false,"nav":true,"margin":30,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'>
							
							<!--  -->
							<div>
								<div class="post-01__media"><a href="#"><img src="{% static 'img/blogs/related-1.jpg' %}" alt=""/></a>
								</div>
								<div>
									<ul class="post-01__categories">
										<li><a href="#">Services</a></li>
									</ul>
									<h2 class="post-01__title"><a href="#">Getting Started with Vue.Js</a></h2>
									<div class="post-01__time">Nov 16, 2017</div>
									<div class="post-01__note">by Bryan Ryan</div>
								</div>
							</div><!-- End /  -->
							
							
							<!--  -->
							<div>
								<div class="post-01__media"><a href="#"><img src="{% static 'img/blogs/related-2.jpg' %}" alt=""/></a>
								</div>
								<div>
									<ul class="post-01__categories">
										<li><a href="#">Services</a></li>
									</ul>
									<h2 class="post-01__title"><a href="#">Getting Started with Vue.Js</a></h2>
									<div class="post-01__time">Nov 4, 2017</div>
									<div class="post-01__note">by Ashley Mills</div>
								</div>
							</div><!-- End /  -->
							
							
							<!--  -->
							<div>
								<div class="post-01__media"><a href="#"><img src="{% static 'img/blogs/related-3.jpg' %}" alt=""/></a>
								</div>
								<div>
									<ul class="post-01__categories">
										<li><a href="#">Services</a></li>
									</ul>
									<h2 class="post-01__title"><a href="#">How to Create and Manage SVG Sprites</a></h2>
									<div class="post-01__time">Nov 21, 2017</div>
									<div class="post-01__note">by Alan Lane</div>
								</div>
							</div><!-- End /  -->
							
							
							<!--  -->
							<div>
								<div class="post-01__media"><a href="#"><img src="{% static 'img/blogs/related-4.jpg' %}" alt=""/></a>
								</div>
								<div>
									<ul class="post-01__categories">
										<li><a href="#">Business</a></li>
									</ul>
									<h2 class="post-01__title"><a href="#">Free Sketch Plugins</a></h2>
									<div class="post-01__time">Nov 2, 2017</div>
									<div class="post-01__note">by Alan Lane</div>
								</div>
							</div><!-- End /  -->
							
						</div><!-- End / carousel__element owl-carousel -->
						
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->
			
{% endblock %} 