{% extends "base.html" %}

{% load static %}

{% block content %}
			
			<!-- Content-->
			<div class="md-content">
				
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">Leer Methode</h6>
									<h2 class="title-01__title">Leer een nieuwe taal door poëzie</h2>
									<div>Het Esperanto is  een taal die tussen alle andere talen kan staan. Het is een geconstrueerde internationale taal die ook wel basistaal of starterstaal wordt genoemd.  Als men deze taal als eerste vreemde taal leert, het  leren van andere talen aanzienlijk vergemakkelijkt. 
										Een nieuwe taal vraagt om een nieuwe methode.  In 2021 verscheen Een  poëtische taalmethode bij Humble Art,  waarin 27 gedichten vanuit  23  verschillende Europese talen staan opgenomen, vertaald en voorzien van informatie over de dichter en een handleiding hoe deze methode te gebruiken.
										Kern daarvan is het uit het hoofd leren van  een gedicht per week,  waarbij je  het nieuwe vocabulaire spelenderwijs leert. De poëtische methode leert  ook hoe je op eigen wijze woordenlijsten maakt en je eigen associaties  gebruikt bij het taalleerproces. Een summier overzicht van de taalregels met voorbeelden uit de gedichten maakte het tot een beknopte introductie  in de internationale taal.   
										Op deze website vind je wekelijks een nieuw gedicht met steeds de letterlijke Esperanto vertaling ernaast. Kies vooral een gedicht dat je aanspreekt en houdt je gedurende die week je met dat ene gedicht bezig.
										Over het leren van de taal lees verder  (Blog)  Minimale methode en Persoonlijke  methode.</div>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
				</section>
				<!-- End / Section -->


				<!-- Section -->
				<section class="md-section consult-background">
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
								
								<!-- title-01 -->
								<div class="title-01 title-01__style-04">
									<h6 class="title-01__subTitle">Leer Methode</h6>
									<h2 class="title-01__title">Hoe het werkt</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-cup"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Een gedicht per week</a></h2>
										<div class="iconbox__description">Leren van  een gedicht per week uit het hooft</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-md-6 col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-crown"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Maakt woordenlijsten van je eigen associaties</a></h2>
										<div class="iconbox__description">De poëtische methode leert  ook hoe je op eigen wijze woordenlijsten maakt en je eigen associaties  gebruikt bij het taalleerproces.</div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							<div class="col-md-6 col-lg-4 ">
								
								<!-- iconbox -->
								<div class="iconbox iconbox__style-04">
									<div class="iconbox__icon"><i class="ti-world"></i></div>
									<div>
										<h2 class="iconbox__title"><a href="#">Overzicht van de taalregels</a></h2>
										<div class="iconbox__description">Voorbeelden uit de gedichten maakte het tot een beknopte introductie in de internationale taal </div>
									</div>
								</div><!-- End / iconbox -->
								
							</div>
							
						</div>
					</div>
				</section>
				<!-- End / Section -->
				
				
				
				<!-- Latest Blogs -->
				<!-- Section -->
				<section class="md-section" style="padding-bottom:0;">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-lg-8 offset-0 offset-sm-0 offset-md-2 offset-lg-2 ">
								
								<!-- title-01 -->
								<div class="title-01">
									<h2 class="title-01__title">Meest recente blogs</h2>
								</div><!-- End / title-01 -->
								
							</div>
						</div>
					</div>
					<div class="consult-project">
						<div class="row">
							{% for blog in blogs|slice:":4" %}
							<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3 " style="padding-left: 5px; padding-right: 5px;">
								<!-- post-02 -->
								<div class="post-02 post-02__style-02 js-post-effect">
									<div class="post-02__media"><a href="{% url 'blog_detail' blog.id %}"><img src="{{blog.image.url}}" alt=""/></a></div>
									<div class="post-02__body">
										<h2 class="post-02__title"><a href="#">{{blog.title}}</a></h2>
										<div class="post-02__department">{{blog.tag}}</div>
										<div class="post-02__content">
											<div class="post-02__description">{{blog.content|truncatewords:15}}</div><a class="post-02__link" href="{% url 'blog_detail' blog.id %}">Lees verder</a>
										</div>
									</div>
								</div><!-- End / post-02 -->
							</div>
							{% endfor %}


						</div>
					</div>
				</section>
				<!-- End / Section -->					
			</div>
			<!-- End / Content-->
{% endblock %} 