{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load filter_first_letter %}

{% block content %}


<!-- Content-->
<div class="md-content" <div class="consult-postDetail">
  <div class="consult-postDetail"></div>
  <div class="container">
    <div class="consult-postDetail__main">
      <div class="row">
        <div class="col-lg-12">
          {% for acronym in acronyms %}
          <div class="consult-postDetail__content">
            <div style="margin: 0px;" class="row">
              <div class="col-12">
                <h1>{{acronym.first_letter}}</h1>
              </div>
            </div>
            <div style="margin: 0px;" class="container">
              <div class="row">
                {% for part_of_speech in parts_of_speech %}
                <div class="col-xl-4 col-md-4 col-sm-4 col-4">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th colspan="2" style="text-align: center;">{{part_of_speech.name}}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for word in part_of_speech.words.all|filter_first_letter:acronym.first_letter %}
                      <tr>
                        <td style="text-align: center">
                          {% language "eo" %}
                          {{word.word}}
                          {% endlanguage %}
                        </th>
                        <td style="text-align: center">
                          {{word.word}}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div><!-- End / layout-blog sidebar-right -->
</div>
<!-- End / Content-->


{% endblock %}