{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}


<!-- Content-->
<div class="md-content" <div class="consult-postDetail">
  <div class="consult-postDetail"></div>
  <div class="container">
    <div class="consult-postDetail__main">
      <div class="row">
        <div class="col-lg-12">
          {% for acronym in acronyms %}
          <div class="consult-postDetail__content">
            <div style="margin: 0px;" class="row">
              <div class="col-12">
                <h1>{{acronym.first_letter}}</h1>
              </div>
            </div>
            <div style="margin: 0px;" class="container">
              <div class="row">
                <div class="">
                  <table class="table table-bordered" style="width: 1024px;">
                    <thead>
                      <tr>
                        <th colspan="2" style="text-align: center; width: 33%;">zelfstanding naamwoorden</th>
                        <th colspan="2" style="text-align: center; width: 33%;">overige woorden</th>
                        <th colspan="2" style="text-align: center; width: 33%;">werkwoorden</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for word_group in acronym.word_groups.all %}
                      <tr>
                        {% with word_group.noun.all|first as noun %}
                        <!-- Noun -->
                        <td style="text-align: right" class="wordlist-left-cell">
                          {% language "eo" %}
                          {{noun.noun}}
                          {% endlanguage %}
                        </td>
                        <td style="text-align: left" class="wordlist-right-cell">
                          {{noun.noun}}
                        </td>
                        {% endwith %}
                        <!-- Miscellaneous -->
                        {% with word_group.misc.all|first as misc %}
                        <td style="text-align: right" class="wordlist-left-cell">
                          {% language "eo" %}
                          {{misc.misc}}
                          {% endlanguage %}
                        </td>
                        <td style="text-align: left" class="wordlist-right-cell">
                          {{misc.misc}}
                        </td>
                        {% endwith %}
                        <!-- Verb -->
                        {% with word_group.verb.all|first as verb %}
                        <td style="text-align: right" class="wordlist-left-cell">
                          {% language "eo" %}
                          {{verb.verb}}
                          {% endlanguage %}
                        </td>
                        <td style="text-align: left" class="wordlist-right-cell">
                          {{verb.verb}}
                        </td>
                        {% endwith %}
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div><!-- End / layout-blog sidebar-right -->
</div>
<!-- End / Content-->


{% endblock %}