{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}


<!-- Content-->
<div class="md-content"
			<div class="consult-postDetail">	
				<div class="consult-postDetail"></div>
				<div class="container">
					<div class="consult-postDetail__main">		
						<div class="row">
							<div class="col-lg-12">
								<div class="consult-postDetail__content">
									<div style="margin: 0px;"class="row">
										<div class="col-12">

											<h1>ĉ</h1>
											

										</div>

									</div>


										<div style="padding: 0px;" class="container">
											<div class="row stanza">

												<div class="col-xl-4 col-md-4 col-sm-4 col-4  hint">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                          <tr>
                                                            <th scope="col" style="text-align: right;"> </th>
                                                            <th scope="col" style="text-align: left;">zelfstandig naamwoorden</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr>
                                                            <th scope="row" style="text-align: right;">Ĉambro</th>
                                                            <td style="text-align: left;">Kamer</td>
                                                          </tr>
                                                        </tbody>
                                                      </table>
												</div>
												<div class="col-xl-4 col-md-4 col-sm-4 col-4 ">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                          <tr>
                                                            <th scope="col" style="text-align: right;"> </th>
                                                            <th scope="col" style="text-align: left;">overige woorden</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr>
                                                            <th scope="row" style="text-align: right;">ĉar</th>
                                                            <td style="text-align: left">want</td>
                                                          </tr>
                                                        </tbody>
                                                    </table>
												</div>
                                                <div class="col-xl-4 col-md-4 col-sm-4 col-4 hint">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                          <tr>
                                                            <th scope="col" style="text-align: right;"> </th>
                                                            <th scope="col" style="text-align: left;">werkwoorden</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                          <tr>
                                                            <th scope="row" style="text-align: right;">ĉarmi</th>
                                                            <td style="text-align: left;">bekoren</td>
                                                          </tr>
                                                        </tbody>
                                                    </table>
												</div>
											</div>

										</div>	

								</div>
							</div>
						</div>	
					</div>			
		</div>
	
	</div><!-- End / layout-blog sidebar-right -->	
</div>
<!-- End / Content-->


{% endblock %}