{% extends "base.html" %}

{% load static %}
{% load poem_lines %}

{% block content %}
			
			<!-- Content-->
			<div class="md-content">
								
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						
						<!-- layout-blog sidebar-left -->
						<div class="layout-blog sidebar-left">
							<div class="layout-blog__content">
								
								<!--Poems  -->
								{% for poem in poems %}
								<div class="col-12 post-01__style-02 md-text-center row">
									<div class="col-6">
										{% for title in poem.title.all %}
										<h2 class="post-01__title"><a href={% url 'single_poem' poem.id %}>{{title.title}}</a></h2>
										{% endfor %}
										<ul class="post-01__note">
											<li><i class="fa fa-user" aria-hidden="true"></i>{{poem.author}}</li>										
											<li><i class="fa fa-globe" aria-hidden="true"></i>{{poem.author.country_of_birth}}</li>
											<li><i class="fa fa-calendar-o" aria-hidden="true"></i>{{poem.author.date_of_birth | date:"Y"}} - {{poem.author.date_of_death | date:"Y"}}</li>
											<li><i class="fa fa-th-large" aria-hidden="true"></i>{{poem.genre}}</li>
										</ul>
	
										<div class="overflow-hidden">
											<p class="text" data-zanim-xs="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
												{% with poem.stanzas|flatten_stanzas|slice:":5" as lines %}
													{% for line in lines %}
														{{line}}<br>
													{% endfor %}
												{% endwith %}
											</p>
										</div>
										<div data-zanim-xs="{&quot;delay&quot;:0.3}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
											<a class=" mt-4" href={% url 'single_poem' poem.id  %}>Lees verder ...</a>
											<!-- <a class="btn btn-capsule btn-outline-primary mt-4" href="#">learn more</a>											 -->
										</div>
									</div>
									<div class="col-6 post-01__media"><a href={% url 'single_poem' poem.id %}><img src="{% static 'img/blogs/Ithaka.jpg' %}" alt=""/></a>
									</div>
								</div><!-- End /  -->

								{% endfor %}	

								<!-- pagination -->
								<ul class="pagination">
									<a class="pagination__item" href="#">1</a>
									<a class="pagination__item" href="#">2</a>
									<a class="pagination__item" href="#">3</a><span class="pagination__item active">4</span>
								</ul><!-- End / pagination -->
								
							</div>
							<aside class="layout-blog__sidebar">
									
									<!--  -->
									<div>
										
										<!-- widget-text__widget -->
										<section class="widget-text__widget widget-text__style-02 widget">
											<h3 class="widget-title">Search</h3>
											<div class="widget-text__content">
												
												<!-- form-search -->
												<div class="form-search">
													<form>
														<input class="form-control" type="text" placeholder="Type and Hit Enter..."/>
													</form>
												</div><!-- End / form-search -->
												
											</div>
										</section><!-- End / widget-text__widget -->
										
										
										<!-- widget-text__widget -->
										<section class="widget-text__widget widget-text__style-02 widget">
											<h3 class="widget-title">categories</h3>
											<div class="widget-text__content">
												<ul>
													<li><a href="#">Genre</a></li>
													<li><a href="#">Country</a></li>
													<li><a href="#">author</a></li>
													<li><a href="#">?</a></li>
													<li><a href="#">?</a></li>
												</ul>
											</div>
										</section><!-- End / widget-text__widget -->
										
										
										<!-- widget-text__widget -->
										<section class="widget-text__widget widget-text__style-04 widget">
											<h3 class="widget-title">recent poems</h3>
											<div class="widget-text__content">
												
												<!--  -->
												<div class="post-01__style-03">
													<div>
														<h2 class="post-01__title"><a href="#">Design a Perfect Homepage</a></h2>
														<div class="post-01__time">Oct 26, 2017</div>
														<div class="post-01__note">by Alice Brooks</div>
													</div>
												</div><!-- End /  -->
												
												
												<!--  -->
												<div class="post-01__style-03">
													<div>
														<h2 class="post-01__title"><a href="#">How to Master Microcopy</a></h2>
														<div class="post-01__time">Oct 28, 2017</div>
														<div class="post-01__note">by Ann Fowler</div>
													</div>
												</div><!-- End /  -->
												
												
										</section><!-- End / widget-text__widget -->
										
										
										<!-- widget-text__widget -->
										<section class="widget-text__widget widget-text__style-03 widget">
											<h3 class="widget-title">Archieves</h3>
											<div class="widget-text__content">
												<ul>
													<li><a href="#">June  2017</a></li>
													<li><a href="#">November  2017</a></li>
													<li><a href="#">March  2017</a></li>
													<li><a href="#">July 2017</a></li>
												</ul>
											</div>
										</section><!-- End / widget-text__widget -->
										
									</div><!-- End /  -->
									
							</aside>
						</div><!-- End / layout-blog sidebar-left -->
						
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->
			
			{% endblock %}