{% extends "base.html" %}

{% load static %}
{% load i18n %}
{% load poem_lines %}

{% block content %}
			
			<!-- Content-->
			<div class="md-content">
								
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						
						<!-- layout-blog sidebar-left -->
						<div class="layout-blog sidebar-left">
							<div class="layout-blog__content">
								
								<!--Poems  -->
								{% for poem in poems %}
								<div class="col-12 post-01__style-02 md-text-center row">
									<div class="col-6">
										{% with poem.title.all|first as title %}
										<h2 class="post-01__title"><a href={% url 'single_poem' poem.id %}>{{title.title}}</a></h2>
										{% endwith %}
										<ul class="post-01__note">
											<li><i class="fa fa-user" aria-hidden="true"></i>{{poem.author}}</li>										
											<li><i class="fa fa-globe" aria-hidden="true"></i>{{poem.author.country_of_birth}}</li>
											<!-- <li><i class="fa fa-calendar-o" aria-hidden="true"></i>{{poem.author.date_of_birth | date:"Y"}} - {{poem.author.date_of_death | date:"Y"}}</li>
											<li><i class="fa fa-th-large" aria-hidden="true"></i>{{poem.genre}}</li> -->
										</ul>
	
										<div class="overflow-hidden">
											<p class="text text-left" data-zanim-xs="{&quot;delay&quot;:0.2}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
												{% with poem.stanzas|flatten_stanzas|slice:":5" as lines %}
													{% for line in lines %}
														{{line}}<br>
													{% endfor %}
												{% endwith %}
											</p>
										</div>
										<div data-zanim-xs="{&quot;delay&quot;:0.3}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
											<a class=" mt-4" href={% url 'single_poem' poem.id  %}>{% trans 'Readmore' %}</a>
											<!-- <a class="btn btn-capsule btn-outline-primary mt-4" href="#">learn more</a>											 -->
										</div>
									</div>
									<div class="col-6 post-01__media"><a href={% url 'single_poem' poem.id %}><img src="{{poem.image.url}}" alt=""/></a>
									</div>
								</div>
								<!-- End /  -->
								{% endfor %}
							</div>
							<aside class="layout-blog__sidebar">
								<div>
									<!-- widget-text__widget -->
									<section class="widget-text__style-04 widget">
										<!-- Author dropdown -->
										<div class="dropdown" data-init="dropdown">
											<a class="dropdown__toggle" href="javascript:void(0)">{% trans 'Poet' %}<i class="fa fa-angle-down" aria-hidden="true"></i></a>
											<div class="dropdown__content" data-position="right">
												<ul class="list-style-none">
													{% for author in authors %}
													<li>{{author.name}}</li>
													<ul class="list-style-square">
														{% for poem in author.poems.all %}
														{% with poem.title.all|first as title %}
														<li><a href={% url 'single_poem' poem.id %}>{{title.title}}</a></li>
														{% endwith %}
														{% endfor %}
													</ul>
													{% endfor %}
												</ul>
											</div>
										</div>
										<!-- End Author dropdown -->

										<!-- Genre dropdown -->
										<div class="dropdown" data-init="dropdown">
											<a class="dropdown__toggle" href="javascript:void(0)">{% trans 'Genres' %}<i class="fa fa-angle-down" aria-hidden="true"></i></a>
											<div class="dropdown__content" data-position="right">
												<ul class="list-style-none">
													{% for genre in genres %}
													<li>{{genre.name}}</li>
													<ul class="list-style-square">
														{% for poem in genre.poems.all %}
														{% with poem.title.all|first as title %}
														<li><a href={% url 'single_poem' poem.id %}>{{title.title}}</a></li>
														{% endwith %}
														{% endfor %}
													</ul>
													{% endfor %}
												</ul>
											</div>
										</div>
										<!-- End Genre dropdown -->

										<!-- Country dropdown -->
										<div class="dropdown" data-init="dropdown">
											<a class="dropdown__toggle" href="javascript:void(0)">{% trans 'Country' %}<i class="fa fa-angle-down" aria-hidden="true"></i></a>
											<div class="dropdown__content" data-position="right">
												<ul class="list-style-none">
													{% for country in countries %}
													<li>{{country.name}}</li>
													<ul class="list-style-square">
														{% for author in country.authors.all %}
														{% for poem in author.poems.all %}
														{% with poem.title.all|first as title %}
														<li><a href={% url 'single_poem' poem.id %}>{{title.title}}</a></li>
														{% endwith %}
														{% endfor %}
														{% endfor %}
													</ul>
													{% endfor %}
												</ul>
											</div>
										</div>
										<!-- End Country dropdown -->	
									</section>
									<!-- End / widget-text__widget -->
									
									<!-- widget-text__widget -->
									<section class="widget-text__widget widget-text__style-04 widget">
										<h6 class="" >{% trans 'RecentPoems' %}</h6>
										{% for poem in recent_poems|slice:":2" %}
										<div class="widget-text__content">
											<div class="post-01__style-03">
												<div>
													{% with poem.title.all|first as title %}
													<h2 class="post-01__title"><a href={% url 'single_poem' poem.id %}>{{title.title}}</a></h2>
													{% endwith %}
													<div class="post-01__time">{{poem.published_date}}</div>
													<div class="post-01__note">- {{poem.author.name}}</div>
												</div>
											</div>
										</div>	
										{% endfor %}	
									</section><!-- End / widget-text__widget -->
								</div><!-- End /  -->
							</aside>
						</div><!-- End / layout-blog sidebar-left -->
						
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->
			
			{% endblock %}