{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}


<!-- Content-->
<div class="md-content">
	<div class="consult-postDetail">

		<div class="consult-postDetail"></div>
		<div class="container">
			<div class="consult-postDetail__main">
				

				
				<div class="row">
					<div class="col-lg-12 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
						<div class="consult-postDetail__content">
							<div class="row">
								<div class="image-full"><img src="{% static 'img/blogs/detail/2.jpg' %}" alt=""></div>
								<div class="col-xl-12 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
									<h1>Ithaka</h1>
									<ul class="consult-postDetail__meta">
										<li><i class="fa fa-user" aria-hidden="true"></i>{{poem.author}}</li>
										{% for title in poem.title.all %}
											<li><i class="fa fa-tags" aria-hidden="true"></i>{{title.title}}</li>
										{% endfor %}
										<li><i class="fa fa-comments-o" aria-hidden="true"></i>Greek Mythologys</li>
										<li><i class="fa fa-calendar-o" aria-hidden="true"></i>June 25th, 2017</li>
									</ul>
									<p class="text">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. Aliquam erat volutpat. In fringilla erat at eros pharetra faucibus. Nunc a magna eu lectus fringilla interdum luctus vitae diam. Morbi ac orci ac dolor pellentesque interdum vel accumsan risus. In vestibulum mattis turpis nec rhoncus. Maecenas facilisis commodo nunc, in blandit sem rutrum ac. Integer sit amet vehicula sem. Sed dictum arcu sit amet eros tempus pretium. Aenean lobortis risus purus.</p>
								</div>
							</div>

							{% for stanza in poem.stanzas.all %}
								<div class="container">
									<div class="row">
										{% for line in stanza.lines.all %}
										<div style="text-align: right;" class="col-xl-5 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 hint">
											{{line.line}}
										</div>
										<div style="text-align: left;" class="col-xl-5 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
											{% language "eo" %}
											{{line.line}}
											{% endlanguage %}
										</div>
										{% endfor %}
									</div>
									<p class="text" />
								</div>	
							{% endfor %}

							<!-- <div class="container">
								<div class="row">
									<div class="col-xl-5 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
										<p class="text">
											Als je de tocht aanvaardt naar Ithaka<br>
											wens dat de weg dan lang mag zijn,<br>
											vol avonturen, vol ervaringen.<br>
											De Kyklopen en de Laistrygonen,<br>
											de woedende Poseidon behoef je niet te vrezen,<br>
											hen zul je niet ontmoeten op je weg<br>
											wanneer je denken hoog blijft, en verfijnd<br>
											de emotie die je hart en lijf beroert.<br>
											De Kyklopen en de Laistrygonen,<br>
											de woedende Poseidon zul je niet treffen<br>
											wanneer je ze niet in eigen geest meedraagt,<br>
											wanneer je geest hun niet gestalte voor je geeft.<br>
											<br>
											Wens dat de weg dan lang mag zijn.<br>
											Dat er veel zomermorgens zullen komen<br>
											waarop je, met grote vreugde en genot<br>
											zult binnenvaren in onbekende havens,<br>
											pleisteren in Phoenicische handelssteden<br>
											om daar aantrekkelijke dingen aan te schaffen<br>
											van parelmoer, koraal, barnsteen en ebbehout,<br>
											ook opwindende geurstoffen van alle soorten,<br>
											opwindende geurstoffen zoveel je krijgen kunt;<br>
											dat je talrijke steden in Egypte aan zult doen<br>
											om veel, heel veel te leren van de wijzen.<br>
											<br>
											Houd Ithaka wel altijd in gedachten.<br>
											Daar aan te komen is je doel.<br>
											Maar overhaast je reis in geen geval.<br>
											't Is beter dat die vele jaren duurt,<br>
											zodat je als oude man pas bij het eiland<br>
											het anker uitwerpt, rijk aan wat je onderweg verwierf,<br>
											zonder te hopen dat Ithaka je rijkdom schenken zal.<br>
											Ithaka gaf je de mooie reis.<br>
											Was het er niet, dan was je nooit vertrokken,<br>
											verder heeft het je niets te bieden meer.<br>

											En vind je het er wat pover, Ithaka bedroog je niet.<br>
											Zo wijs geworden, met zoveel ervaring, zul je al<br>
											begrepen hebben wat Ithaka's beduiden.<br>

										</p>
										<p class="text"></p>
									</div>
									<div class="col-xl-5 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
										<p class="text">
											Se vi iros al Ithaka<br>
											deziru, ke la vojo estu longa tiam,<br>
											plena de aventuroj, plena de spertoj.<br>
											La ciklopo kaj la Laistrygones,<br>
											vi ne bezonas timi la koleregan Pozidonon,<br>
											<br>
											vi ne renkontos ilin dum via vojo<br>
											kiam via pensado restas alta, kaj rafinita<br>
											la emocio, kiu tuŝas vian koron kaj korpon.<br>
											La ciklopo kaj la Laistrygones,<br>
											vi ne renkontos la koleregan Pozidonon<br>
											kiam vi ne portos ilin en via propra menso,<br>
											kiam via menso ne formas ilin por vi.<br>
											<br>
											<br>
											Bonvolu, ke la vojo povus esti longa tiam.<br>
											Ke estos multaj someraj matenoj<br>
											je  kiu vi, kun granda plezuro kaj ĝojo <br>
											eniros nekonatajn havenojn,<br>
											gipsado en feniciaj komercaj urboj<br>
											aĉeti allogajn aferojn tie<br>
											de perlamoto, koralo, sukceno kaj ebono,<br>
											ankaŭ ekscitaj ĉiuspecaj parfumoj,<br>
											ekscitaj parfumoj kiom vi povas akiri;<br>
											ke vi vizitos multajn urbojn en Egiptujo<br>
											lerni multon, tre multe de la saĝuloj.<br>
											<br>
											Ĉiam memoru Itakon.<br>
											Via celo estas alveni tien.<br>
											Sed ne rapidu vian vojaĝon.<br>
											Estas pli bone, ke ĝi daŭru multajn jarojn<br>
											tiel ke vi kiel maljunulo nur atingas la insulon<br>
											ankras riĉan je tio, kion vi akiris dum la vojo,<br>
											sen esperi, ke Ithaka donos al vi riĉecon.
											<br>
											Ithaka donis al vi la belan vojaĝon.<br>
											Se ne estus tie, vi neniam forirus<br>
											alie ĝi plu havas nenion por oferti al vi.<br>
											<br>
											Kaj se vi pensas, ke ĝi estas iomete malriĉa, <br>
											Ithaka ne trompis vin.<br>
											Fariĝu tiel saĝa, kun tiom da sperto, vi jam faroskomprenis,<br>
											kion signifas Ithakas.<br>
										</p>
									</div>
								</div>
							</div> -->

							<blockquote>
								<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
							</blockquote>
							<div class="row">
								<div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
									<p class="text">Suspendisse ac elit vitae est lacinia interdum eu sit amet mauris. Phasellus aliquam nisi sit amet libero mattis ornare. In varius nunc vel suscipit rhoncus. Nunc hendrerit nisl nec orci eleifend accumsan. Mauris nulla mi, egestas ac maximus ac, ultricies non tellus. Vestibulum varius purus nunc. Cr</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Related Posts-->
	
	<!-- Section -->
	<section class="md-section">
		<div class="container">
			
			<!-- title-01 -->
			<div class="title-01">
				<h2 class="title-01__title">Related Posts</h2>
			</div><!-- End / title-01 -->
			
			
			<!-- carousel__element owl-carousel -->
			<div class="carousel__element owl-carousel" data-options='{"loop":false,"dots":false,"nav":false,"margin":30,"responsive":{"0":{"items":1},"768":{"items":2},"992":{"items":3}}}'>
				
				<!--  -->
				<div>
					<div class="post-01__media"><a href="#"><img src="{% static 'img/blogs/related-1.jpg' %}" alt=""/></a>
					</div>
					<div>
						<ul class="post-01__categories">
							<li><a href="#">Business</a></li>
						</ul>
						<h2 class="post-01__title"><a href="#">How to Create and Manage SVG Sprites</a></h2>
						<div class="post-01__time">Aug 14, 2017</div>
						<div class="post-01__note">by Raymond Mendoza</div>
					</div>
				</div><!-- End /  -->
				
				
				<!--  -->
				<div>
					<div class="post-01__media"><a href="#"><img src="{% static 'img/blogs/related-2.jpg' %}" alt=""/></a>
					</div>
					<div>
						<ul class="post-01__categories">
							<li><a href="#">Business</a></li>
						</ul>
						<h2 class="post-01__title"><a href="#">Best National Locations</a></h2>
						<div class="post-01__time">Aug 14, 2017</div>
						<div class="post-01__note">by Alice Brooks</div>
					</div>
				</div><!-- End /  -->
				
				
				<!--  -->
				<div>
					<div class="post-01__media"><a href="#"><img src="{% static 'img/blogs/related-3.jpg' %}" alt=""/></a>
					</div>
					<div>
						<ul class="post-01__categories">
							<li><a href="#">Business Law</a></li>
						</ul>
						<h2 class="post-01__title"><a href="#">Is UX Really That Important?</a></h2>
						<div class="post-01__time">Aug 14, 2017</div>
						<div class="post-01__note">by Jose Snyder</div>
					</div>
				</div><!-- End /  -->
				
			</div><!-- End / carousel__element owl-carousel -->
			
		</div>
	</section>
	<!-- End / Section -->
	
</div>
<!-- End / Content-->


{% endblock %}
