{% extends "base.html" %}

{% load static %}


{% block content %}
			
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						
						<!-- layout-blog sidebar-left -->
						<div class="layout-blog sidebar-left">
							<div class="layout-blog__content">
								
								<!--  -->
								{% for blog in blogs %}
								<div class="post-01__style-02 md-text-center row">
									<div class="post-01__media col-6"><a href={% url 'blog_detail' blog.id %}><img src="{{blog.image.url}}" alt=""/></a>
									</div>
									<div class="col-6">
										<ul class="post-01__categories">
											<li><a href="#">{{blog.tag}}</a></li>
										</ul>
										<h2 class="post-01__title"><a href={% url 'blog_detail' blog.id %}>{{blog.title}}</a></h2>
										<div class="post-01__time">{{blog.published_date}}</div>
										<div class="post-01__note">- {{blog.author}}</div>
									</div>
								</div><!-- End /  -->
								
								{% endfor %}
								
								
								
							</div>
							<aside class="layout-blog__sidebar">
									
									<!--  -->
									<div>

																				
										
										<!-- widget-text__widget -->
										<section class="widget-text__widget widget-text__style-04 widget">
											<h6 class="widget-title">Meest recente blogs</h6>
											{% for blog in blogs|slice:":2" %}
											<div class="widget-text__content">
												
												<!--  -->
												<div class="post-01__style-03">
													<div>
														<h2 class="post-01__title"><a href="#">{{blog.title}}</a></h2>
														<div class="post-01__time">{{blog.published_date}}</div>
														<div class="post-01__note">- {{blog.author}}</div>
													</div>
												</div><!-- End /  -->
												
											</div>
											{% endfor %}
										</section><!-- End / widget-text__widget -->
										
										
										
									</div><!-- End /  -->
									
							</aside>
						</div><!-- End / layout-blog sidebar-left -->
						
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->			
			{% endblock %}