{% extends "base.html" %}

{% load static %}


{% block content %}
			
				<!-- Section -->
				<section class="md-section">
					<div class="container">
						
						<!-- layout-blog sidebar-left -->
						<div class="layout-blog sidebar-left">
							<div class="layout-blog__content">
								
								<!--  -->
								<div class="post-01__style-02 md-text-center">
									<div class="post-01__media"><a href="blog-detail.html"><img src="{% static 'img/blogs/1.jpg' %}" alt=""/></a>
									</div>
									<div>
										<ul class="post-01__categories">
											<li><a href="#">Business</a></li>
										</ul>
										<h2 class="post-01__title"><a href="blog-detail.html">How To Build A Better Website</a></h2>
										<div class="post-01__time">Nov 20, 2017</div>
										<div class="post-01__note">by Alice Brooks</div>
									</div>
								</div><!-- End /  -->
								
								
								
								
								<!-- pagination -->
								<ul class="pagination"><a class="pagination__item" href="#">1</a><a class="pagination__item" href="#">2</a><a class="pagination__item" href="#">3</a><span class="pagination__item active">4</span>
								</ul><!-- End / pagination -->
								
							</div>
							<aside class="layout-blog__sidebar">
									
									<!--  -->
									<div>
										
										<!-- widget-text__widget -->
										<section class="widget-text__widget widget-text__style-02 widget">
											<h3 class="widget-title">Search</h3>
											<div class="widget-text__content">
												
												<!-- form-search -->
												<div class="form-search">
													<form>
														<input class="form-control" type="text" placeholder="Type and Hit Enter..."/>
													</form>
												</div><!-- End / form-search -->
												
											</div>
										</section><!-- End / widget-text__widget -->
																				
										
										<!-- widget-text__widget -->
										<section class="widget-text__widget widget-text__style-04 widget">
											<h3 class="widget-title">recent post</h3>
											<div class="widget-text__content">
												
												<!--  -->
												<div class="post-01__style-03">
													<div>
														<h2 class="post-01__title"><a href="#">Design a Perfect Homepage</a></h2>
														<div class="post-01__time">Oct 26, 2017</div>
														<div class="post-01__note">by Alice Brooks</div>
													</div>
												</div><!-- End /  -->
												
											</div>
										</section><!-- End / widget-text__widget -->
										
										
										
									</div><!-- End /  -->
									
							</aside>
						</div><!-- End / layout-blog sidebar-left -->
						
					</div>
				</section>
				<!-- End / Section -->
				
			</div>
			<!-- End / Content-->			
			{% endblock %}