{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}


<!-- Content-->
<div class="md-content">
	<div class="consult-postDetail">

		<div class="consult-postDetail"></div>
		<div class="container">
			<div class="consult-postDetail__main">
				

				
                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
                        <div class="consult-postDetail__content">
                            
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <h1>{{blog.title}}</h1>
                                    <ul class="consult-postDetail__meta">
                                        <li><i class="fa fa-user" aria-hidden="true"></i>{{blog.author}}</li>
                                        <li><i class="fa fa-tags" aria-hidden="true"></i>{{blog.tag}}</li>
                                        <li><i class="fa fa-calendar-o" aria-hidden="true"></i>{{blog.published_date}}</li>
                                    </ul>
                                    <div class="image-full"><img src="{{blog.image.url}}" alt=""></div>
                                    <p class="text">{{blog.content | linebreaks}}</p>
                                    <ul class="consult-postDetail__meta">
                                        {% if prev_blog %}
                                        <li><i class="fa" aria-hidden="true"></i>
                                            <a href={% url 'blog_detail' prev_blog.id %}>{% trans 'ReadPrevBlog' %}: {{prev_blog.title}}</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>	
</div>
<!-- End / Content-->


{% endblock %}