{% extends "base.html" %}

{% load static %}

{% block content %}


<!-- Content-->
<div class="md-content">
	<div class="consult-postDetail">

		<div class="consult-postDetail"></div>
		<div class="container">
			<div class="consult-postDetail__main">
				

				
                <div class="row">
                    <div class="col-lg-10 col-xl-8 offset-0 offset-sm-0 offset-md-0 offset-lg-1 offset-xl-2 ">
                        <div class="consult-postDetail__content">
                            
                            <div class="row">
                                <div class="col-xl-11 offset-0 offset-sm-0 offset-md-0 offset-lg-0 offset-xl-1 ">
                                    <h1>Mark Warner To Oppose Sessions For Attorney General.</h1>
                                    <ul class="consult-postDetail__meta">
                                        <li><i class="fa fa-user" aria-hidden="true"></i> Admin</li>
                                        <li><i class="fa fa-tags" aria-hidden="true"></i>Services    </li>
                                        <li><i class="fa fa-calendar-o" aria-hidden="true"></i>June 25th, 2017</li>
                                    </ul>
                                    <div class="image-full"><img src= "{% static 'img/blogs/detail/2.jpg' %}" alt=""></div>
                                    <p class="text">Nam elit ligula, egestas et ornare non, viverra eu justo. Aliquam ornare lectus ut pharetra dictum. Aliquam erat volutpat. In fringilla erat at eros pharetra faucibus. Nunc a magna eu lectus fringilla interdum luctus vitae diam. Morbi ac orci ac dolor pellentesque interdum vel accumsan risus. In vestibulum mattis turpis nec rhoncus. Maecenas facilisis commodo nunc, in blandit sem rutrum ac. Integer sit amet vehicula sem. Sed dictum arcu sit amet eros tempus pretium. Aenean lobortis risus purus.</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>	
</div>
<!-- End / Content-->


{% endblock %}