{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block content %}


<!-- Content-->
<div class="md-content" <div class="consult-postDetail">
  <div class="consult-postDetail"></div>
  <div class="container">
    <div class="consult-postDetail__main">
      <div class="row">
        <div class="col-12">
          <div style="text-align: center;">
            <div style="margin: 0px;" class="container">
              {% trans 'Poem_name_audio' %}
            </div>
          </div>
        </div>
        {% for recording in voice_recordings %}
        <div class="col-6" style="text-align: center;">
          <div class="consult-postDetail__content">
            <div style="margin: 0px;" class="container">
              {{recording.title}}
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="">
            <div style="margin: 0px;" class="">
              <audio controls style="width: -webkit-fill-available;">
                <source src="{{recording.audio_file.url}}" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</div><!-- End / layout-blog sidebar-right -->
</div>
<!-- End / Content-->


{% endblock %}